*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background: #f5f7fb;
    color: #333;
}
/* NAVBAR */

header {
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding
}